.para1{font-size: 0; text-align:left; padding-bottom:4px; margin-top:0px; padding-top:0px;}
.linkStyle_2{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #414141 #FF2600 */
 word-wrap: break-word;}
.linkStyle_2:visited{color:#414141; text-decoration:underline;}
.linkStyle_2:hover{color:#FF2600; text-decoration:underline;}
.para5{font-size: 0; text-align:right; padding-bottom:4px; margin-top:0px; padding-top:0px;}
.linkStyle_6{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #291503 #FF2600 */
 word-wrap: break-word;}
.linkStyle_6:visited{color:#291503; text-decoration:underline;}
.linkStyle_6:hover{color:#FF2600; text-decoration:underline;}
.para9{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style10{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 word-wrap: break-word;}
.Style11{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 36px; 
 color: #008E51;
 word-wrap: break-word;}
.Style12{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 16px; 
 color: #B44400;
 word-wrap: break-word;}
.para13{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.linkStyle_14{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 color: #414141;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #414141 #FF2600 */
 word-wrap: break-word;}
.linkStyle_14:visited{color:#414141; text-decoration:underline;}
.linkStyle_14:hover{color:#FF2600; text-decoration:underline;}
.para17{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style18{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 word-wrap: break-word;}
.Style19{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 word-wrap: break-word;}
.linkStyle_20{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 color: #4E48BB;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #4E48BB #B44400 */
 word-wrap: break-word;}
.linkStyle_20:visited{color:#4E48BB; text-decoration:underline;}
.linkStyle_20:hover{color:#B44400; text-decoration:underline;}
.linkStyle_23{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #4E48BB;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #4E48BB #B44400 */
 word-wrap: break-word;}
.linkStyle_23:visited{color:#4E48BB; text-decoration:underline;}
.linkStyle_23:hover{color:#B44400; text-decoration:underline;}
.Style26{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 margin:0;
 word-wrap: break-word;}
.Style27{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 margin:0;
 word-wrap: break-word;}
.para28{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.linkStyle_29{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #4E47BA;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #4E47BA #B44400 */
 word-wrap: break-word;}
.linkStyle_29:visited{color:#4E47BA; text-decoration:underline;}
.linkStyle_29:hover{color:#B44400; text-decoration:underline;}
.para32{font-size: 0; text-align:right; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.linkStyle_33{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 color: #919191;
 text-decoration: none; 
 /* 1 1 0 #00F900 #919191 #004C7E */
 word-wrap: break-word;}
.linkStyle_33:visited{color:#919191; text-decoration:none;}
.linkStyle_33:hover{color:#004C7E; text-decoration:none;}
.Style36{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 36px; 
 color: #919191;
 word-wrap: break-word;}
.Style37{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 36px; 
 color: #5D5D5D;
 word-wrap: break-word;}
.Style38{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #919191;
 word-wrap: break-word;}
.para39{font-size: 0; text-align:right; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style40{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 color: #008E51;
 word-wrap: break-word;}
.linkStyle_41{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 36px; 
 color: #919191;
 text-decoration: none; 
 /* 1 1 0 #00F900 #919191 #004C7E */
 word-wrap: break-word;}
.linkStyle_41:visited{color:#919191; text-decoration:none;}
.linkStyle_41:hover{color:#004C7E; text-decoration:none;}
.Style44{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #008E51;
 word-wrap: break-word;}
.linkStyle_45{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 color: #5E5E5D;
 text-decoration: none; 
 /* 1 1 0 #005292 #5E5E5D #005292 */
 word-wrap: break-word;}
.linkStyle_45:visited{color:#5E5E5D; text-decoration:none;}
.linkStyle_45:hover{color:#005292; text-decoration:none;}
.linkStyle_48{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #919191;
 text-decoration: none; 
 /* 1 1 0 #00F900 #919191 #004C7E */
 word-wrap: break-word;}
.linkStyle_48:visited{color:#919191; text-decoration:none;}
.linkStyle_48:hover{color:#004C7E; text-decoration:none;}
.linkStyle_51{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_51:visited{color:#4E48BB; text-decoration:underline;}
.linkStyle_51:hover{color:#B44400; text-decoration:underline;}
.Style54{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #931000;
 word-wrap: break-word;}
.Style55{font-family:  'Cinzel-Bold', 'Cinzel' ;
 font-size: 14px; 
 font-weight:700; 
 word-wrap: break-word;}
.linkStyle_56{font-family:  'Cinzel-Bold', 'Cinzel' ;
 font-size: 24px; 
 font-weight:700; 
 color: #4E48BB;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #4E48BB #B44400 */
 word-wrap: break-word;}
.linkStyle_56:visited{color:#4E48BB; text-decoration:underline;}
.linkStyle_56:hover{color:#B44400; text-decoration:underline;}
.linkStyle_59{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 color: #000000;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #291503 #FF2600 */
 word-wrap: break-word;}
.linkStyle_59:visited{color:#291503; text-decoration:underline;}
.linkStyle_59:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_62{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #291503 #FF2600 */
 word-wrap: break-word;}
.linkStyle_62:visited{color:#291503; text-decoration:none;}
.linkStyle_62:hover{color:#FF2600; text-decoration:none;}
.linkStyle_65{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #005292 #000000 #B41700 */
 word-wrap: break-word;}
.linkStyle_65:visited{color:#000000; text-decoration:none;}
.linkStyle_65:hover{color:#B41700; text-decoration:underline;}
.Style68{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 color: #931000;
 word-wrap: break-word;}
.Style69{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 36px; 
 word-wrap: break-word;}
.para70{font-size: 0; text-align:center; padding-bottom:3px; margin-top:0px; padding-top:0px;}
.Style71{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 margin:0;
 color: #291503;
 word-wrap: break-word;}
.Style72{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 font-weight:700; 
 color: #291503;
 word-wrap: break-word;}
.Style73{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 margin:0;
 color: #291503;
 word-wrap: break-word;}
.Style74{font-family:  'Cinzel-Bold', 'Cinzel' ;
 font-size: 18px; 
 font-weight:700; 
 color: #291503;
 word-wrap: break-word;}
.Style75{font-family:  'Cinzel-Bold', 'Cinzel' ;
 font-size: 14px; 
 font-weight:700; 
 color: #291503;
 word-wrap: break-word;}
.Style76{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #291503;
 word-wrap: break-word;}
.Style77{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 color: #291503;
 word-wrap: break-word;}
.Style78{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 margin:0;
 color: #291503;
 word-wrap: break-word;}
.Style79{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 font-weight:700; 
 color: #291503;
 word-wrap: break-word;}
.linkStyle_80{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 font-weight:700; 
 color: #5E5E5D;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FEFB00 #FF2600 */
 word-wrap: break-word;}
.linkStyle_80:visited{color:#5E5E5D; text-decoration:underline;}
.linkStyle_80:hover{color:#005292; text-decoration:underline;}
.Style83{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 font-weight:700; 
 margin:0;
 color: #291503;
 word-wrap: break-word;}
.linkStyle_84{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #5E5E5D;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FEFB00 #FF2600 */
 word-wrap: break-word;}
.linkStyle_84:visited{color:#5E5E5D; text-decoration:underline;}
.linkStyle_84:hover{color:#005292; text-decoration:underline;}
.Style87{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 font-weight:700; 
 word-wrap: break-word;}
.para88{font-size: 0; text-align:left; padding-bottom:3px; margin-top:0px; padding-top:0px;}
.para89{font-size: 0; text-align:left; padding-bottom:0px; padding-top:6px;}
.linkStyle_90{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #4E48BB;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #584A39 #931000 */
 word-wrap: break-word;}
.linkStyle_90:visited{color:#584A39; text-decoration:underline;}
.linkStyle_90:hover{color:#931000; text-decoration:underline;}
.Style93{font-family:  'Cinzel-Bold', 'Cinzel' ;
 font-size: 24px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style94{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 color: #291503;
 word-wrap: break-word;}
.Style95{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 15px; 
 color: #291503;
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style96{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 15px; 
 margin:0;
 color: #291503;
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style97{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 word-wrap: break-word;}
.Style26:visited{color:#291503; text-decoration:underline;}
.Style26:hover{color:#FF2600; text-decoration:underline;}
.Style100{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 color: #7D0E02;
 background-color: #FEFEFE; 
 word-wrap: break-word;}
.para101{font-size: 0; text-align:left; padding-bottom:32px; margin-top:0px; padding-top:0px;}
.para102{font-size: 0; text-align:left; padding-bottom:17px; margin-top:0px; padding-top:0px;}
.linkStyle_103{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 color: #5D5D5D;
 text-decoration: none; 
 /* 1 1 0 #00F900 #5D5D5D #004C7E */
 word-wrap: break-word;}
.linkStyle_103:visited{color:#5D5D5D; text-decoration:none;}
.linkStyle_103:hover{color:#004C7E; text-decoration:none;}
.linkStyle_106{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 18px; 
 color: #4E47BA;
 text-decoration: underline; 
 /* 0 0 0 #005292 #4E47BA #B44400 */
 word-wrap: break-word;}
.linkStyle_106:visited{color:#4E47BA; text-decoration:underline;}
.linkStyle_106:hover{color:#B44400; text-decoration:underline;}
.Style109{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 15px; 
 word-wrap: break-word;}
.linkStyle_110{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 36px; 
 color: #5E5E5D;
 text-decoration: none; 
 /* 1 1 0 #005292 #5E5E5D #005292 */
 word-wrap: break-word;}
.linkStyle_110:visited{color:#5E5E5D; text-decoration:none;}
.linkStyle_110:hover{color:#005292; text-decoration:none;}
.linkStyle_113{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #5E5E5D;
 text-decoration: none; 
 /* 1 1 0 #005292 #5E5E5D #005292 */
 word-wrap: break-word;}
.linkStyle_113:visited{color:#5E5E5D; text-decoration:none;}
.linkStyle_113:hover{color:#005292; text-decoration:none;}
.linkStyle_116{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 24px; 
 color: #5D5D5D;
 text-decoration: none; 
 /* 1 1 0 #00F900 #5D5D5D #004C7E */
 word-wrap: break-word;}
.linkStyle_116:visited{color:#5D5D5D; text-decoration:none;}
.linkStyle_116:hover{color:#004C7E; text-decoration:none;}
.linkStyle_119{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 14px; 
 color: #5D5D5D;
 text-decoration: none; 
 /* 1 1 0 #00F900 #5D5D5D #004C7E */
 word-wrap: break-word;}
.linkStyle_119:visited{color:#5D5D5D; text-decoration:none;}
.linkStyle_119:hover{color:#004C7E; text-decoration:none;}
.linkStyle_122{font-family:  'Cinzel-Regular', 'Cinzel' ;
 font-size: 36px; 
 color: #5D5D5D;
 text-decoration: none; 
 /* 1 1 0 #00F900 #5D5D5D #004C7E */
 word-wrap: break-word;}
.linkStyle_122:visited{color:#5D5D5D; text-decoration:none;}
.linkStyle_122:hover{color:#004C7E; text-decoration:none;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}